<div class="jumbotron">
	<h2><b>Welcome to my app!</b></h2>
	<br>
	<center><img src="../assets/polaroids_logo.svg"style="height: 100%;" /></center>
	<br>
	<br>

	<p align="right">Click here to <%= link_to "Sign Up", "#", class: "btn btn-primary" %></p>
</div>


